**/*.log
**/*.md
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
.editorconfig
**/node_modules/
email_bot/src/test_support/
credentials.json
tokencache.json
./vscode
Rocket.toml
**/.idea
latest_release
.git/
.idea/
public_api/static/certos/
private_api/templates/