<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werify - Soluciones SSI</title>
    <style>
        html {
            height: 100%;
            box-sizing: border-box;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        body {
            position: relative;
            min-height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            font-family: 'Arial', sans-serif;
            background-color: #fff;
            color: #333;
        }
        .content {
            flex: 1;
            padding-bottom: 80px; /* Equal to footer height */
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80px; /* Footer height */
            background: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        .showcase img {
            max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
            max-height: 600px;
        }
        header {
            background: #333;
            color: #fff;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #008cba 3px solid;
        }
        header a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }
        header ul {
            padding: 0;
            list-style: none;
        }
        header li {
            display: inline;
            padding: 0 20px 0 20px;
        }
        header #branding {
            float: left;
        }
        header #branding img {
            height: 60px;
        }
        header nav {
            float: right;
            margin-top: 10px;
        }
        header nav ul li.current a {
            text-decoration: underline; /* This will underline the text */
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        .showcase {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 600px;
            padding: 0 50px;
            background: url('path_to_your_background_image.jpg') no-repeat right center / cover;
        }
        .showcase .showcase-text {
            max-width: 50%;
            margin-right: 20px;
        }
        .showcase h1 {
            font-size: 55px;
            margin-bottom: 10px;
        }
        .showcase p {
            font-size: 20px;
        }
        .features {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }
        .features section {
            width: 33.3333%;
            padding: 0 15px;
            box-sizing: border-box;
        }
        .features h2 {
            font-size: 24px;
            color: #333;
        }
        .features p {
            font-size: 16px;
            color: #666;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <img src="https://ivis.es/wp-content/uploads/2023/icons.werify/logo_werify_white.svg" alt="Werify Logo">
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="home">Home</a></li>
                    <% if (sessionExists) { %>
                        <li><a href="private_area">Private Area</a></li>
                        <li><a href="logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="#" onclick="redirectToLogin()">Login</a></li>
                    <% } %>
                    <!-- <li><a href="contact.html">Contact</a></li> -->
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">
        <div class="showcase">
            <div class="showcase-text">
                <h1>Revolutionizing Credential Verification with SSI</h1>
                <p>Deploying Quick Verification Points for Self-Sovereign Identity Credentials</p>
            </div>

            <img src="/assets/img/ssi_credentials.png" alt="SSI Related Image">


        </div>
        <div class="features">
            <section>
                <h2>Deploying Rule Design</h2>
                <p>Design and deploy verification rules efficiently with our intuitive interface.</p>
            </section>
            <section>
                <h2>Deploytidas Resign</h2>
                <p>Resign and revamp your credentials management with our robust system.</p>
            </section>
            <section>
                <h2>Backend Recordon</h2>
                <p>Track and record verification operations with our secure backend solutions.</p>
            </section>
        </div>
    </div>
    
    <footer class="footer">
        <p>Werify Solutions &copy; 2023</p>
    </footer>
    <script src="/js/home.js"></script>
</body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <script src="/js/script.js"></script>
</body>
</html> -->