<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werify - Soluciones SSI</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('components/header') %>

    <div class="content">
        <div class="showcase">
            <div class="showcase-text">
                <h1>We're sorry</h1>
                <p>It appears that you are not authorized to access this area.</p>
            </div>

            <img src="/assets/img/no_access.png" alt="No Access">


        </div>
    </div>
    
    <%- include('components/footer') %>
</body>
</html>