<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werify - Soluciones SSI</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('components/header') %>

    <div class="content">
        <div class="showcase">
            <div class="showcase-text">
                <h1>Welcome to Your Private Area</h1>
                <h3>Secure Access Granted</h3>
                <p>Congratulations! You are now in your exclusive private area, a space where your privacy and security are our top priorities. Your successful entry here was secured through the advanced technology of Self-Sovereign Identity (SSI).</p>
            </div>

            <img src="/assets/img/segure.png" alt="Segure Image">


        </div>
    </div>
    
    <%- include('components/footer') %>
</body>
</html>